extends layout

block content
    h1= category.title

    div
        a(href=category.url+"/update" style="margin-right: 20px") Update Category
        a(href=category.url+"/delete") Delete category

    p #[strong Description:] #{category.description}

    table(class="table")
        tr(class="table-secondary")
            th Name
            th Manufacturer
            th Stock
            th Price
        each pcpart in category_parts
            tr
                td 
                    a(href=pcpart.url) #{pcpart.name}
                td 
                    a(href=pcpart.manufacturer.url) #{pcpart.manufacturer.name}
                td #{pcpart.stock}
                td $ #{pcpart.price}